*
{
	box-sizing: border-box;
}
body
{
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}
.hove
{
	position: relative;
	border: 4px solid;
	width: 30%;
	height: 20%;
	display: flex;
	justify-content: center;
	align-items: center;
	overflow: hidden;
}
h1
{
	text-align: center;
}
.hove::before
{
	content: "COOL !";
	font-size: 2rem;
	font-weight: bold;
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	width: 100%;
	height: 100%;
	transform: background-color;
	transition-duration: 2s;
	top: -100%;
	transition-property: top background-color;
	
}
.hove:hover::before
{
	color: black;
	top: 0;
	background-color: darkred;
}